{
    "trailingComma": "all",
    "plugins": [
        "prettier-plugin-tailwindcss",
        "@trivago/prettier-plugin-sort-imports",
        "prettier-plugin-packagejson",
        "prettier-plugin-tailwindcss"
    ],
    "importOrder": [
        "react",
        "^react-.*$",
        "^next",
        "^next-.*$",
        "^next/.*$",
        "^.*/hooks/.*$",
        "^.*/services/.*$",
        "^.*/utils/.*$",
        "^.*/types/.*$",
        "^.*/pages/.*$",
        "^.*/components/.*$",
        "^[./]",
        ".*"
    ],
    "importOrderSortSpecifiers": true,
    "tabWidth": 4,
    "useTabs": false,
    "semi": false,
    "singleQuote": true,
    "arrowParens": "always",
    "printWidth": 100
}
